.storiesContainer{
    position: absolute;
    top: 40px;
    left: 260px;
    width: calc(100% - 260px);
    padding: 20px;
}

.storiesContainer h1{
    color: white;
    margin-bottom: 20px;
}

.storiesLista{
    display: flex;
    gap: 25px;
    list-style: none;
    padding: 0;
}