.storiesContainer{
    position: absolute;

    top: 40px;
    left: 260px;

    width: calc(100% - 260px);

    padding: 20px;

    box-sizing: border-box;
}

.storiesContainer h1{
    color: white;
    margin-bottom: 20px;
}

.storiesLista{
    display: flex;

    flex-wrap: wrap;

    gap: 40px;

    list-style: none;

    padding: 0;

    width: 100%;
}