.storyItem{
    display: flex;
    flex-direction: column;
    align-items: center;

    cursor: pointer;
}


.storyBorde{
    width: 95px;
    height: 95px;

    border-radius: 75%;

    background: linear-gradient(
        45deg,
        #feda75,
        #fa7e1e,
        #d62976,
        #962fbf,
        #4f5bd5
    );

    padding: 6px;

    display: flex;
    align-items: center;
    justify-content: center;
}


.storyBorde img{
    width: 100%;
    height: 100%;

    border-radius: 50%;
    object-fit: cover;

    border: 3px solid #070321;
}


.storyItem h2{
    color: white;
    font-size: 13px;
    font-weight: 400;

    margin-top: 10px;
}