.feedContainer{
    position: absolute;

    top: 300px;
    left: 260px;

    width: calc(100% - 260px);

    padding: 20px;

    box-sizing: border-box;
}

.feedContainer h1{
    color: white;
    font-size: 42px;
    margin-bottom: 20px;
}

.feedLista{
    list-style: none;

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

    gap: 25px;

    padding: 0;
    width: 100%;

    box-sizing: border-box;
}